<h1>New Question</h1>

<%= form_for [:admin, @question] do |f| %>
  <%= f.label :question %>
  <%= f.text_field :question, class: "form-control" %>

  <hr>
  <%= f.fields_for :choices do |choice_fields| %>
    <%= choice_fields.label :choice %>
    <%= choice_fields.text_field :choice, class: "form-control" %>
  <% end %>
  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
